<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>No Denial</title> 
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
   <link rel="stylesheet" href="../../public/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="flex-fill navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
          Products
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Posh Nosh</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Deserts by Sadie</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Where can I buy?</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="#">Events</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="#">Community</a>
      </li>
       </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
       </li>
            <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
    </ul>
  </div>
    <a class="navbar-brand" href="/">
    <img src="../../public/images/logo.png" width=200>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>